on boot
    # Panel backlight
    chown system system /sys/devices/i2c-0/0-002c/backlight/lcd-backlight/brightness
    chmod 660 /sys/devices/i2c-0/0-002c/backlight/lcd-backlight/brightness

# GPS for wifi only pollux_windy
service irsc_util /system/bin/irsc_util "/etc/sec_config"
    class main
    user root
    oneshot

service rmt_storage /system/bin/rmt_storage
    class main
    user root
    group system
